Package: com.dao.tvlock
Name: TVLock
Version: 1.2.3
Architecture: iphoneos-arm
Description: 很棒的老电视关屏动画，根据开源编译，已内置简体中文。
Maintainer: Wes <wes.hamster@gmail.com>
Author: Wes <wes.hamster@gmail.com>
Section: 嗨-工具
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader
Conflicts: com.wrp1002.tvlock, com.dao.tvlock.cn
SileoDepiction: https://xiangfeidexiaohuo.github.io/sileodepiction/tvlock/js.json

